<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9102B0332B4E985C009B6464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91978FB32B2B4428008714AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91978FBD2B2B4428008714AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91AA42792B57DEAF001D2796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91AA42822B57DEB0001D2796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B6DEF42B32EC050026B599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
